#marcas {
  background-color: var(--blue-dark);


  .content-align {
    flex-direction: column;

    p {
      font-size: calc(1rem + .4vw);
      color: white;
      text-align: center;

    }

    .carousel {
      display: flex;
      gap: 15rem;
      overflow-x: hidden;
      width: 100%;

      img {
        animation: marcas 20s linear infinite;
        height: 10vw;
        max-height: 50px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #marcas {
    .content-align {
      .carousel {
        gap: 5rem;
  
        img {
          animation: marcas 10s linear infinite;
          height: 10vw;
          max-height: 50px;
        }
      }
    }
  }
}

@keyframes marcas {
  0% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(-80vw)
  }
}